   body {
     font-family: Lato;
   }
   
   .flex-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     max-width: 1000px;
     margin: 0 auto;
     border: 1px dotted black;
     padding: 1%;
   }
   
   .flex-item {
     width: 30%;
     max-width: 275px;
     min-width: 200px;
     margin-left: 1%;
     margin-right: 1%;
   }
   
   .flex-item:hover img {
     outline: 3px solid yellow;
   }
   
   .image {
     width: 100%;
     height: auto;
   }
   
   .title {
     white-space: nowrap;
     font-size: 2.5vh;
     text-align: center;
     line-height: 0;
     border: 0;
     padding: 0;
     margin-top: 4%;
     margin-bottom: 11%;
   }
   
   a:link,
   a:visited {
     color: black;
     text-decoration: none;
   }
   
   a:hover {
     text-decoration: none;
     color: #0000cc;
   }
   
   a:active {
     color: black;
     text-decoration: none;
   }
   
   .credit {
     font-family: Lato;
     font-size: 1.5vh;
   }